@{ 
    Layout = "~/Views/Shared/_User.cshtml";
}

<br />
<br />
<br />

<div class="container" >
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-home"></i></span>
        <div class="media-body">
            <h3>Kayseri, Turkey.</h3>
            <p>Esentepe, 38010</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
        <div class="media-body">
            <h3>00 (000) 0000 000</h3>
            <p>Mon to Fri 9am to 6pm</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
            <h3>ebubekiram@gmail.com</h3>
            <p>Send us your query anytime!</p>
        </div>
    </div>
</div>

